n8n/workflows/4hAlPIwd70ZPXMTW-My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Return ONLY valid JSON in this format:\n{\n  \"phone_number\": \"+911234567890\",\n  \"output\": \"Your generated text here\",\n  \"company\": \"Company Name\"\n}\nDo not wrap inside \"output\" or any other object.\nyou are a marketing agent for {{ $json.name }} so create a catcy 1 liner to attract customers . ",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        80
      ],
      "id": "423a22cd-4a97-4478-94d2-c254417ffc1f",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        384
      ],
      "id": "85f34f90-ab57-4b2b-a5d6-9a7337b10358",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "zRqlpO12RaJbhzQl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "edfb2067-90b4-4e2c-8e10-69110098af34",
      "name": "Getting Leads",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6ymBCeyyyWZ84X07",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "user_id",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        80
      ],
      "id": "fdb68da8-5868-4fb3-a381-ec38483f33b5",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "campaigns",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "active"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ],
      "id": "9fd64ae8-e6fb-4e6a-9ac6-2e6fb0cb7399",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "6ymBCeyyyWZ84X07",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62cd8aed-cb47-4b5a-a183-079ed63bb5f0",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "c5bc8250-776c-46d3-8840-fb03a65fb8ac",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "73a4b1e8-c785-4408-87cf-f7e652deaaf6",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "6163f827-662f-43ee-ac8d-b81c5c878486",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a4eea98e-2b01-4bff-ab80-208daf642aa1",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        80
      ],
      "id": "91f0b313-59c0-45a8-9c04-8585c89f1d06",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "455ad9a6-944c-4880-8eee-922c48d23a90",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "6d0f963c-014d-4384-a050-60fa536505f6",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a10ef1f7-925e-44ee-a611-facc23c9026d",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        192
      ],
      "id": "29dc6289-bfda-4d76-b635-49f9813bd99b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"output\": {\n    \"phone_number\": \"+915555555555\",\n    \"output\": \"Turn insights into income! ...\",\n    \"company\": \"InsightFlow Marketing\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        368
      ],
      "id": "75967162-0470-464f-8557-6da1d3b4bc75",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Getting Leads').item.json.phone_number }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        704,
        464
      ],
      "id": "34bec41d-0e98-45ee-9baa-553c3548cbac",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "UwAHviVcF0v0fdKt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leados",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        96
      ],
      "id": "f6f85ace-234d-4cab-983c-f7c9012efae0",
      "name": "Webhook",
      "webhookId": "9fbcc963-54cf-4546-be36-ecb772bfbe42"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16b4ef9a-21e1-4e56-aa03-dfcf732788ca",
              "name": "headers.authorization",
              "value": "={{ $json.headers.authorization }}",
              "type": "string"
            },
            {
              "id": "33069fb1-88a3-4f67-b29e-233b44fc81f0",
              "name": "body.user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        96
      ],
      "id": "33315c19-03ec-4045-bd9d-45dcf593c38a",
      "name": "Edit Fields4"
    }
  ],
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Getting Leads": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Getting Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}