n8n/workflows/BjGNcSG4kuoRxFbp-My_workflow_4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=create a simple reply for this user {{ $json['user_message '] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1280,
        -32
      ],
      "id": "49fae515-877f-49a1-9999-c5e9b5c1947b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        0
      ],
      "id": "a25c88ee-1baf-4e40-8e7c-407372ce2ce6",
      "name": "WhatsApp Trigger",
      "webhookId": "2152150e-8f82-46c9-b41b-e73844c2ef0a",
      "retryOnFail": true,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "NZr2VSUT02yKipTR",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        272
      ],
      "id": "84b8484c-9bab-4451-912a-341d85069ac7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zRqlpO12RaJbhzQl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1248,
        448
      ],
      "id": "9dcb5045-59c6-402c-abef-71bd5e8c4aa5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "keyValue": "={{ $json.messages[0].from }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        288
      ],
      "id": "ecf39c57-3486-4efb-9749-e95b0e57adaa",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "6ymBCeyyyWZ84X07",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b49efa1-befb-4268-90a9-3d5a96b539d0",
              "name": "messages[0].from",
              "value": "=+{{ $json.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "7c203bf8-442a-442f-9174-8aea87fc9f6c",
              "name": "messages[0].text.body",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        0
      ],
      "id": "85faee73-7502-42ed-9e56-94be5096919e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        16
      ],
      "id": "9afaaa9c-ec26-4706-a53f-78e29f000ec6",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "475f1696-332e-424c-ac0a-72569b83f09f",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "3d6a8c29-554e-402b-a9a8-eb13ef9399f2",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "ab953f38-096d-473c-a8fc-8fee03490c29",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "cc4c213e-99b1-4f9f-9e19-002c1c24bd2b",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "fbb43716-5874-457c-baf0-8f7fa587c95e",
              "name": "initial_prompt",
              "value": "={{ $json.initial_prompt }}",
              "type": "string"
            },
            {
              "id": "e192a0e9-08bd-44ca-8a2f-21aecce69087",
              "name": "user_message ",
              "value": "={{ $json[\"user_message \"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        16
      ],
      "id": "0f48067f-9418-454e-9cea-6798a8c7ea75",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Edit Fields1').item.json.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1424,
        368
      ],
      "id": "1351cdd3-a698-48a5-9d7e-18429a785e39",
      "name": "Create a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6ymBCeyyyWZ84X07",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "\n{\n  \"user_id\": \"asndlkjnsdjfjnsdar4\",\n  \"phone_number\": \"+918925788877\",\n  \"reply_message\": \"hey there \"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1552,
        256
      ],
      "id": "de05eb09-33e0-439a-b1fa-ea49bfe87a28",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "phone_number",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        -32
      ],
      "id": "a7bf5a74-364a-4fe7-8e5e-740aed284abc",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8394b476-06d3-4fcd-a265-f9b7cdebf21b",
              "name": "user_message ",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "a42df60e-2f4b-40ec-91d8-0e75713671e9",
              "name": "phone_number",
              "value": "={{ $json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        0
      ],
      "id": "f850b9c3-3066-4737-89c1-8fb0ee58955c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "campaigns",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        144
      ],
      "id": "06e49066-b6eb-4e72-8e08-053dedc4f7c5",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "6ymBCeyyyWZ84X07",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "800552979798504",
        "recipientPhoneNumber": "=+916290624068",
        "textBody": "hi there ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1744,
        0
      ],
      "id": "11138695-c2d4-4379-a80f-d641a3cc98fa",
      "name": "Send message",
      "webhookId": "ce9d838b-de8f-4517-9b9d-152913d63f98",
      "credentials": {
        "whatsAppApi": {
          "id": "eJ3GsTvwK261DyO0",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}